extends layout

block links
  li
    a.w3-large(href='#matches') Practice Rounds
  li
    a.w3-large(href='#finals') Finals

block content
  -var numSchools = matches['numSchools']
  -var numMatches = numSchools * 2
  mixin practiceMatch(match)
    -var matchId = match
    -var matchString = '/' + tournamentName + '/' + matchId
    .w3-col.l2
      if(matches[matchId])
        a.ybot-no-decoration(href= matchString)
          .w3-card-2.w3-hover-shadow
            .w3-container
              p
                span= matches[matchId].greenTeam
            .w3-container.ybot-theme-secb
              p
                span Score: #{matches[matchId].greenScore}
      else
        .w3-card.w3-opacity
          .w3-container
            p
              span Team
          .w3-container.ybot-theme-secb
            p
              span Score: 0

  #matches.ybot-anchor
  -var maxMatches = 0
  -if (numMatches >= 6) {
  -  maxMatches = 6
  -} else {
  -  maxMatches = numMatches
  -}
  
  h3(style="margin-top:0px;") Practice Individual Matches
  .w3-row.ybot-theme-seca.w3-center
    -for (var i=1; i<=maxMatches; ++i) {
      .w3-col.l2
        h4 Match #{i}
    -}

  .w3-row-padding(style="margin-top:12px;")
    -for (var match=1; match<=maxMatches; ++match) {
      +practiceMatch(match)
    -}

  if (numMatches > 6)
    -if (numMatches >= 12) {
    -  maxMatches = 12
    -} else {
    -  maxMatches = numMatches
    -}

    .w3-row.ybot-theme-seca.w3-center(style="margin-top:12px;")
      -for (var i=7; i<=maxMatches; ++i) {
        .w3-col.l2
          h4 Match #{i}
      -}

    .w3-row-padding(style="margin-top:12px;")
      -for (var match=7; match<=maxMatches; ++match) {
        +practiceMatch(match)
      -}

  if (numMatches > 12)
    -if (numMatches >= 18) {
    -  maxMatches = 18
    -} else {
    -  maxMatches = numMatches
    -}

    .w3-row.ybot-theme-seca.w3-center(style="margin-top:12px;")
      -for (var i=13; i<=maxMatches; ++i) {
        .w3-col.l2
          h4 Match #{i}
      -}

    .w3-row-padding(style="margin-top:12px;")
      -for (var match=13; match<=maxMatches; ++match) {
        +practiceMatch(match)
      -}
  
  mixin match(round, match)
    -var matchId =  (round * 100) + (match * 10)
    -var matchString = '/' + tournamentName + '/' + matchId
    .w3-col
      if(matches[matchId])
        a.ybot-no-decoration(href= matchString)
          .w3-card-2.w3-hover-shadow
            .w3-container
              p
                span(style="font-weight:bold;")= matches[matchId + 1].greenTeam
                if(matches[matchId + 1].greenResult === 'S' && matches[matchId + 2].greenResult === 'S')
                  -var average = (matches[matchId + 1].greenScore + matches[matchId + 2].greenScore) / 2
                  span.w3-right Score: #{average} 
                else
                  span.w3-right Score: --
            .w3-container.ybot-theme-secb
              p
                if(matches[matchId + 1].greenResult === 'S')
                  span A: #{matches[matchId + 1].greenScore}
                else
                  span A: --
                if(matches[matchId + 2].greenResult === 'S')
                  span.w3-right B: #{matches[matchId + 2].greenScore}
                else
                  span.w3-right B: --
      else
        .w3-card.w3-opacity
          .w3-container
            p
              span Team
              span.w3-right Score: --
          .w3-container.ybot-theme-secb
            p
              span A: --
              span.w3-right B: -- 
                        
  h3(style="margin-top:24px;") Finals
  #finals.ybot-anchor
  .w3-row.ybot-theme-seca.w3-center
    .w3-col.l4
      h4 Semi Finals
    .w3-col.l4
      h4 Finals
    .w3-col.l4
      h4 Championship
      
  if (numSchools == 7)  
    .w3-row(style="margin-left: 12px; margin-right: 12px;")
      .w3-col.l4
        .w3-row
          .w3-col(style='width: 80%;')
            .w3-row(style="margin-top:54px;")
            -for (var i = 1; i < 7; ++i) {
              .w3-row(style="margin-top:12px;")
                +match(1,i)
            -}
          .w3-rest
            .w3-row
              .w3-col.w3-half
                div(style="margin-top:111px;")
                div(style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid; height:111px")
                div(style="margin-top:102px;")
                div(style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid; height:111px")
                div(style="margin-top:102px;")
                div(style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid;height:111px")
              .w3-col.w3-half
                div(style="margin-top:165px;")
                div(style="border-top-style: solid;")
                div(style="margin-top:264px;")
                div(style="border-top-style: solid;")
                div(style="margin-top:102px;")
                div(style="border-top-style: solid;")
    
      .w3-col.l4
        .w3-row
          .w3-col(style='width: 80%;')
            .w3-row(style="margin-top:12px;")
              +match(2,1)
            .w3-row(style="margin-top:12px;")
              +match(2,2)
            .w3-row(style="margin-top:173px;")
              +match(2,3)
            .w3-row(style="margin-top:12px;")
              +match(2,4)
          .w3-rest
            .w3-row
              .w3-col.w3-half
                div(style="margin-top:57px;")
                div(style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid; height:111px")
                div(style="margin-top:104px;")
                div(style="border-right-style: solid; height:160px")
                div(style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid; height:111px")
              .w3-col.w3-half
                div(style="margin-top:165px;")
                div(style="border-top-style: solid;")
                div(style="margin-top:104px;")
                div(style="border-top-style: solid;")
          
      .w3-col.l4
        .w3-row(style="margin-top:118px;")
          +match(3,1)
        .w3-row(style="margin-top:12px;")
          +match(3,2)
        .w3-row(style="margin-top:174px;")
          +match(3,3)
        .w3-row(style="margin-top:12px;")
          +match(3,4)
  
  else
    h5 Developer was lazy, please use other means of recording        
  
  if (user)
    div(style="margin-top:12px; margin-left:12px")
      a.ybot-no-decoration(href='javascript:void(0)', onclick='delete_teams_post()')
        button.w3-btn.ybot-theme-pri(style='margin-top: 12px;') Delete Matches
