doctype html
html
  head
    title YouthBOT Tournaments
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='/javascripts/scripts.js')
    block additionalHeader

  body
    -var active = ''
    -var baseurl = ''

    #side_nav.w3-top.w3-sidenav.w3-card-4.w3-animate-left.ybot-theme-secb.w3-hide-small.w3-hide-medium(style='display: none;')
      .w3-container.w3-padding-0
        ul.w3-navbar.ybot-theme-pri
          li
            if(user)
              a.w3-large(href='/logout' style='padding-right:99px') Logout
            else
              a.w3-large(href='/login' style='padding-right:112px') Login
          li.w3-right
            a.w3-large(href='javascript:void(0)', onclick='sidebar_close()') x

      a(href='/') Standings

      mixin tournLinks(name, display)
        if (url.includes(name))
          -active = display
          -baseurl = '/' + name
          a.ybot-theme-secc(href='/' + name)= display
        else
          a(href='/' + name)= display

      +tournLinks('competition1', '1st Competition')
      +tournLinks('competition2', '2nd Competition')
      //-+tournLinks('competition3', '3rd Competition')
      //-+tournLinks('championship', 'Championship')
      //-+tournLinks('field-testing', 'Field Testing')

    #top_nav.w3-top.ybot-theme-secb.w3-hide-large(style='display: none;')
      ul.w3-navbar(style="margin-top:40px;")
        li.w3-col
          a(href='javascript:void(0)', onclick='topbar_close()') x
        li.w3-col
          a(href='/') Standings
        li.w3-col
          +tournLinks('competition1', '1st Competition')
        li.w3-col
          +tournLinks('competition2', '2nd Competition')

    // Header for large screens
    #header.w3-top.w3-hide-small.w3-hide-medium
      ul.w3-navbar.ybot-theme-pri
        li
          a.w3-large(href='javascript:void(0)' onclick='sidebar_open()') ☰
        li#header_title.ybot-animate
          a.w3-large(href='/')
            i.fa.fa-home
        if(baseurl && active)
          li
            a.w3-large(href=baseurl) #{active}
        block links
        li.w3-right
          if (user)
            a.w3-large(href='#')= user.username
          else
            a.w3-large(href='/login') Login

    // Header for small and medium screen
    #header.w3-top.w3-hide-large
      ul.w3-navbar.ybot-theme-pri
        li
          a.w3-large(href='javascript:void(0)' onclick='topbar_open()') ☰

    #main.w3-container(style='margin-top:53px; margin-left:40px; margin-right:40px; margin-bottom: 40px')
      block content
