extends layout

block content
  -var matchesPerRound = matches['matchesPerRound']
  -var roundCount = matches['roundCount']
  mixin columns(intermatch, round)
    -var matchId = matchesPerRound * (round - 1) + intermatch
    -var matchString = '/' + tournamentName + '/' + matchId
    .w3-col.l2
      if(matches[matchId])
        //a.ybot-no-decoration(href= matchString)
        .w3-card-2.w3-hover-shadow
          .w3-container
            p
              span.w3-text-green= matches[matchId].greenTeam
              span.w3-right= matches[matchId].greenScore
          .w3-container.ybot-theme-secb
            p
              span.w3-text-red= matches[matchId].redTeam
              span.w3-right= matches[matchId].redScore
      else
        .w3-card.w3-opacity
          .w3-container
            p
              span.w3-text-green.w3-left-align Green
              span.w3-right 0
          .w3-container.ybot-theme-secb
            p
              span.w3-text-red.w3-left-align Red
              span.w3-right 0

  #matches.ybot-anchor
  -var maxRounds = 0
  -if (roundCount >= 6) {
  -  maxRounds = 6
  -} else {
  -  maxRounds = roundCount
  -}

  .w3-row.ybot-theme-seca.w3-center
    -for (var i=1; i<=maxRounds; ++i) {
      .w3-col.l2
        h4 Round #{i}
    -}

  -for (var intermatch=1; intermatch<=matchesPerRound; ++intermatch) {
    .w3-row-padding(style="margin-top:12px;")
      -for (var round=1; round<=maxRounds; ++round) {
        +columns(intermatch, round)
      -}
  -}

  if (roundCount > 6)
    -if (roundCount >= 12) {
    -  maxRounds = 12
    -} else {
    -  maxRounds = roundCount
    -}

    .w3-row.ybot-theme-seca.w3-center(style="margin-top:12px;")
      -for (var i=7; i<=maxRounds; ++i) {
        .w3-col.l2
          h4 Round #{i}
      -}

    -for (var intermatch=1; intermatch<=matchesPerRound; ++intermatch) {
      .w3-row-padding(style="margin-top:12px;")
        -for (var round=7; round<=maxRounds; ++round) {
          +columns(intermatch, round)
        -}
    -}

  if (roundCount > 12)
    -if (roundCount >= 18) {
    -  maxRounds = 18
    -} else {
    -  maxRounds = roundCount
    -}

    .w3-row.ybot-theme-seca.w3-center(style="margin-top:12px;")
      -for (var i=13; i<=maxRounds; ++i) {
        .w3-col.l2
          h4 Round #{i}
      -}

    -for (var intermatch=1; intermatch<=matchesPerRound; ++intermatch) {
      .w3-row-padding(style="margin-top:12px;")
        -for (var round=13; round<=maxRounds; ++round) {
          +columns(intermatch, round)
        -}
    -}

  if (user)
    div(style="margin-top:12px; margin-left:12px")
      a.ybot-no-decoration(href='javascript:void(0)', onclick='delete_teams_post()')
        button.w3-btn.ybot-theme-pri(style='margin-top: 12px;') Delete Matches
